
{% extends "base.html" %}

{% block content %}

    <h4 class = "text-2xl text-center">User details : {{user.username}}</h4>

        <section class="text-gray-600 body-font">
            <div class="container px-5 py-10 mx-auto">
                <div class="lg:w-2/3 w-full mx-auto overflow-auto">
                    <table class="table-auto w-full text-left whitespace-no-wrap">
                        <thead>
                            <tr>
                                <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">Username</th>
                                <td class="px-4 py-3">{{user.username}}</td>
                                <td class="px-4 py-3"><b><a href="#">Delete</a></b></td>
                              </tr>
                            </thead>
                            
                            <tbody>
                              
                              <tr>
                                <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Email id</th>
                                <td class="px-4 py-3">{{user.email}}</td>
                                <td class="px-4 py-3"><b><a href="#">Delete</a></b></td>
                              </tr>
                              
                              <tr>
                                <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Address</th>
                                {% if user.address.exists %}
                                  
                                <td class="px-4 py-3">{{user.address}}</td>
                                {% else %}
                                <td class="px-4 py-3">No address specified</td>

                                {% endif %}
                                <td class="px-4 py-3"><b><a href="#">Delete</a></b></td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>

<div class = "pt-12">               
     <p>
    <a href="#">
    Click here to update lead details
    </a>
</p>
</div>

              </div>
            </section>
    

{% endblock content %}